<!-- templates/home.html -->
{% extends "base.html" %}
{% block content %}
<h1>Goblin Goods Homepage</h1>
<p>The current date and time is: {% now "DATETIME_FORMAT" %}</p>
<p>There are {{ inventory|length }} items of inventory.
<ul>
{% for item in inventory %}
<li>{{ item }}</li>
{% endfor %}
</ul>
<p>{{ greeting| title }}</p>
{% comment %}Add more content here!{% endcomment %}
{% endblock %}

<h1>Goblin Goods Homepage</h1>
<p>The current date and time is: {% now "DATETIME_FORMAT" %}</p>
<p>There are {{ inventory|length }} items of inventory.</p>
<ul>
  {% for item in inventory %}
  <li>{{ item }}</li>
  {% endfor %}
</ul>
<p>{{ greeting| title }}</p>
{% comment %}Add more content here!{% endcomment %}
